{% extends 'base.html.twig' %}

{% block title %}Modifier une tache{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Editer la tache</h1>
        {{ form_start(updateTaskForm) }}
        {{ form_widget(updateTaskForm) }}
        <button class="btn" type="submit">Ajouter</button>
        {{ form_end(updateTaskForm) }}
    </div>
{% endblock %}