<navbar>
    <a href="{{ path('project') }}"><div>Voir tous les projets</div></a>
    <a href="{{ path('task') }}"><div>Voir toutes les taches</div></a>
    <a href="#"><div>Effectuer une recherche</div></a>
</navbar>