{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block body %}
    <div>
        <h1>Ajouter un nouveau projet</h1>
        {{ form_start(projectCreateForm) }}
        {{ form_widget(projectCreateForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(projectCreateForm) }}
    </div>
{% endblock %}
